.contact {
  padding: 1%;
  background-color: gold;
}

.contact a {
  font-weight: bold;
  text-decoration: underline;
  color: #000;
}

.contact a:hover {
  text-decoration: none;
  color: darkgrey;
}

.contactForm {
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: space-between;
 
}

.back-button {
  margin-left: 2%;
  display: flex;
  flex-direction: column;
}

#backbutton {
  display: flex;
  justify-content: center;
  padding: 0.5%;
  margin-bottom: 3vh;
}


#submitbutton {
  display: flex;
  justify-content: center;
  margin-bottom: 1vh;
}

#submitbutton:hover{
cursor:pointer;
}

input:invalid {
  
  color:red;
  font-size: 1.05;

}

input:valid {
  background: white;

}

h2 {
  padding: 0.5%;
}

@media screen and (max-width: 768px) {
  .contactForm {
    font-size: 1.125rem;
  }
  .contactForm {
    width: 40%;
  }

}
