.navbar a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  color: gray;
  opacity: 0.6;
  transition: 0.3s;
  text-decoration: underline;
}
.logo {
  margin-right: auto;
  max-width: 50px;
  max-height: 50px;
  padding: 0.3%;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  background-color: #000;
  width: 100%;

}

.navbar  {
  top:0px;
  z-index: 9;
  position: fixed;
}

.logo {
  padding: 0.5%;
}

@media screen and (max-width: 768px) {
  .navbar a {
    font-size: 0.85rem;
    margin-right:15%;
  }
}
