* {
  margin: 0;
  padding: 0;
}

main {
  z-index: 1;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: black;
  color: white;
  scroll-behavior: inherit;
}

h1 {
  padding-top: 21vw;
  font-size: 6rem;
  padding-left: 3%;
  font-weight: bold;
}

h2 {
  font-size: 1.125rem;
  padding-left: 1vw;
  padding-top: 0.5%;
  background-color: white;
  color: black;
  font-weight: 600;
}

h3 {
  font-size: 1.125rem;
  padding-top: 0.5%;
  padding-left: 1vw;
  background-color: #1f75fe;
  color: white;
  font-weight: 600;
}

.description {
  font-weight: bold;
  font-size: 2vw;
  padding-left: 4.5%;
  padding-bottom: 1%;
}

.whiteboxtext {
  display: flex;
  background-color: white;
  color: black;
  width: 100%;
  font-size: 0.875rem;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 1%;
  padding-right: 2%;
}

.blackboxtext {
  background-color: #1f75fe;
  color: white;
  width: 100%;
  font-size: 0.875rem;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 1%;
  padding-right: 2%;
}

.items {
  background-color: black;
  color: white;
  padding-top: 1vw;
  padding-right: 1vw;
}

.items2 {
  background-color: black;
  color: #1f75fe;
  padding-top: 1vw;
  padding-right: 1vw;
}

#socials {
  display: flex;
  justify-content: center;
}

.socials {
  flex-direction: column;
  background-color: white;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.socials a {
  display: flex;
  flex-direction: row;
  color: #1f75fe;
  text-decoration: none;
}

footer {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 2%;
  gap: 3%;
}

.name {
  font-size: 2em;
  text-align: center;
  padding: 1%;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.125rem;
  }
  .navbar {
    flex-direction: row;
  }
}

.row {
  display: flex;
  overflow: hidden;
  background-color: white;
}

.column {
  position: relative;
  flex: 33%;
  object-fit: scale-down;
}

.column:hover {
  transform: scale(0.9);
  border-radius: 5%;
}

.imageExplain {
  top: 3%;
  left: 4%;
  margin: auto;
  position: absolute;
  background: black;
  color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.3s linear;
  transition: visibility 0s, opacity 0.3s linear;
  border-radius: 4px;
}

.column:hover {
  cursor: pointer;
}

.column:hover .imageExplain {
  padding: 0.3%;
  visibility: visible;
  opacity: 0.7;
}
