* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: black;
  color: white;
  scroll-behavior: inherit;
}

h1 {
  padding-top: 21vw;
  font-size: 2.5rem;
  padding-left: 3%;
  font-weight: bold;
}

h2 {
  font-size: 1.125rem;
  padding-left: 1vw;
  padding-top: 0.5%;
  background-color: white;
  color: black;
  font-weight: 600;
}

h3 {
  font-size: 1.125rem;
  padding-top: 0.5%;
  padding-left: 1vw;
  background-color: #1f75fe;
  color: white;
  font-weight: 600;
}

.description {
  font-weight: bold;
  font-size: 2vw;
  padding-left: 4.5%;
  padding-bottom: 1%;
}

.whiteboxtext {
  display: flex;
  background-color: white;
  color: black;
  width: 100%;
  font-size: 0.875rem;

  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 1%;
  padding-right: 2%;
}

.blackboxtext {
  background-color: #1f75fe;
  color: white;
  width: 100%;
  font-size: 0.875rem;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 1%;
  padding-right: 2%;
}

.items {
  background-color: black;
  color: white;
  padding-top: 1vw;
  padding-right: 1vw;
}

.items2 {
  background-color: black;
  color: #1f75fe;
  padding-top: 1vw;
  padding-right: 1vw;
}

#socials {
  display: flex;
  justify-content: center;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.socials a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #1f75fe;
  text-decoration: none;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  color: gray;
}
.logo {
  margin-right: auto;
  max-width: 50px;
  max-height: 50px;
  padding: 0.3%;
}

.navbar {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0px;
}

footer {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 2%;
  gap: 3%;
}

.name {
  font-size: 2em;
  text-align: center;
  padding: 1%;
  margin: 0;
}

.contact {
  padding: 1%;
  background-color: gold;
}

.contact a {
  font-weight: bold;
  text-decoration: underline;
  color: #000;
}

.contact a:hover {
  text-decoration: none;
  color: darkgrey;
}

.contactForm {
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: space-between;
}

.back-button {
  margin-left: 2%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 6rem;
  }
  .navbar {
    flex-direction: row;
  }
}
