* {
  margin: 0;
  padding: 0;
}

main {
  z-index: 1;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: black;
  color: white;
  scroll-behavior: inherit;
}

h1 {
  padding-top: 21vw;
  font-size: 6.5rem;
  padding-left: 3%;
  font-weight: bold;
}

h2 {
  font-size: 1.125rem;
  padding-top: 0.5%;
  padding-left: 1vw;
  background-color: white;
  color: black;
  font-weight: 600;
}

h3 {
  font-size: 1.125rem;
  padding-top: 0.5%;
  padding-left: 1vw;
  background-color: #1f75fe;
  color: white;
  font-weight: 600;
}

.description {
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 4.5%;
  padding-bottom: 1%;
}

.whiteboxtext {
  background-color: white;
  color: black;
  width: 99%;
  font-size: 0.875rem;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 1%;
}

.blackboxtext {
  background-color: #1f75fe;
  color: white;
  width: 99%;
  font-size: 0.875rem;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 1%;
}

.items {
  background-color: black;
  color: white;
  padding-top: 1vw;
  padding-right: 1vw;
}

.items2 {
  background-color: black;
  color: #1f75fe;
  padding-top: 1vw;
  padding-right: 1vw;
}

#socials {
  display: flex;
  justify-content: center;
}

.socials {
  background-color: white;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin: 0 auto;
  text-align: center;
}

.socialbar a :hover {
  color: grey;
  opacity: 0.9;
  transition: 0.4s;
  border-color: black;
  text-decoration: underline;
}

.socialbar a {
  color: #1f75fe;
  text-decoration: none;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 1%;
}

.socialbar a:visited {
  color: #0f6afd;
  text-decoration: none;
}

footer {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 2%;
  gap: 3%;
  font-size: 0.75rem;
}

footer a {
  text-decoration: none;
  color: #0f6afd;
}

footer a:hover {
  color: white;
  opacity: 0.9;
  transition: 0.4s;
}

.name {
  font-size: 2em;
  text-align: center;
  padding: 1%;
  margin: 0;
}



@media screen and (max-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  #navbar {
    flex-direction: column;
  }
}

.row {
  display: flex;
  background-color: white;
}

.column {
  position: relative;
  flex: 33%;
  object-fit: scale-down;
  border-color: green;
  border-radius: 4px;
}

.column:hover {
  transform: scale(0.98);
  border-radius: 7%;
}

.imageExplain {
  top: 3%;
  left: 4%;
  margin: auto;
  position: absolute;
  background: black;
  color: white;
  opacity: 0;
  visibility: hidden;
  transition-delay: 1s;
  transition: visibility 0s, opacity 0.3s linear;
  border-radius: 4px;
}

.column:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.6s;
}

.column:hover .imageExplain {
  padding: 0.3%;
  visibility: visible;
  opacity: 0.7;
  transition: ease-in-out;
}

progress {
  border: none;
  width: 40vw;
  height: 1rem;
}

progress::-webkit-progress-value {
  background: black;
  border-radius: 2px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25) inset;
}

